$primary-font: "Raleway", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// COLORS-------

$white: #ffffff;
$ivory: #fbfaf8;  //цвет слоновой кости для bg-color_2
$light-ivory: #f1eee9;
$light-black: #111111;
$black: #000;

// $yellow: #000;
// $green: #000;
$blue: #00bff3;
$gray: #8c8c8c;
$light-gray: #d1d1d1;
$middle-gray: #363636;
$medium-gray: #959595;
$dark-gray: #555555;
$darker-gray: #191919;
$brown: #362f2d;
$olive-brown:  #998675;
$olive-yellow:  #c7b299;
$sand-yellow:  #a48d72;

//------------COLORS

//----main / default colors

$base-text-color: $gray;
$base-header-color: $dark-gray;
$nav-link-color: $white;
$base-button-color: $olive-brown;
$button-a-color: $white;
$decoration-line-color: $light-ivory;
$list-style-color: $olive-yellow;
$card-header-color: $olive-yellow;
$card-text-color: $light-gray;
$base-icon-color: $dark-gray;
$aside-data-color: $middle-gray;
$aside-text-color: $dark-gray;
$footer-text-color: $dark-gray; 
$post-border-item: $gray;

//----bg colors

$bg-color: $white;
$bg-ivory-color: $ivory;
$bg_img_color: $dark-gray;   //он же цвет для наложения на bg-img с регулировкой прозрачности
$bg-card-color: $ivory;
$bg-aside-color: $darker-gray;
$bg-footer-color: $light-black;
$bg-data-day-holder: $middle-gray;
$bg-data-month-holder: darken($middle-gray, 12);

//----hover  colors

$nav-link-hover-color:  $olive-yellow;
$default-link-hover-color:  $olive-yellow;
$header-hover-color: $olive-yellow;
$button-hover-color: darken($base-button-color, 12); //где 5 - количество тонов затемнения(darken) или осветления (lighter) от 1 до 17
$decoration-line-hover: $olive-yellow;
$card-header-hover-color: $white;
$card-text-hover-color: $olive-yellow;
$bg-card-hover-color: $brown;
$bg-data-day-hover: $olive-yellow;
$bg-data-month-hover: $sand-yellow;






$font-base-size: 16px;
$font-small-size: 14px;
$font-middle-size: 18px;
$font-large-size: 28px;
$font-extra-large-size: 48px;
$font-size-button: 16px;
$font-size-nav-main: 14px;
$font-size-slide-header: 26px;
$font-data-size: 12px;

$button-width-lg: 170px;


$font-size-h2: 30px;
$font-size-h3: 22px;
$font-size-h4: 20px;

$font-size-data-day: 24px;
$font-size-data-month: $font-data-size;


$line-base-height: 1.7;



// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px; //эти переменные из BS4 можно перебить под себя
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px); //эти breakpoints лучше не трогать, они оптимальны
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

//-------------------------------------------------

//INDENTS

$indent_xs: 10px;

$indent_sm: 30px;
$indent_md: 50px;
$indent_lg: 80px;


//------------------------------------

