.slider-block {
  background-image: url("../../img/bg_slide.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.portfolio-slider {
  position: relative;
  width:100%;
  height: auto;
  z-index: 3;
    
  .slide-item {
    text-align: center;
    color: $white;
    position:absolute;
    width:100%;
   
    button {
      margin-top:  $indent_md;
    } 

    .slide-header {
      color: white;
    }
  }  
}


span.fa-angle-left,
span.fa-angle-right {

  visibility: hidden;

  @include media-breakpoint-up(xl) {
    visibility: visible;
    font-size: $indent_lg;
    padding: $indent_xs;
    cursor: pointer;
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    color: white;

    &:hover {
      color: $nav-link-hover-color;
      transition: color .3s;
    }
  }
} 

span.fa-angle-left {

  @include media-breakpoint-up(xl) {
    left: -50%;
    transform: translateX(50%);
  }
}

span.fa-angle-right {
  
  @include media-breakpoint-up(xl) { 
    right: -50%;
    transform: translateX(-50%);
  }
}



.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  li {                        // позиционируем dots в slick
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;

    &.slick-active button:before, 
    & button:hover:before {
      background-color: transparent;
      box-shadow: 0px 0px 0px 3px $nav-link-hover-color;
      transition: background-color .5s box-shadow .5s;
    }
  }

  @include media-breakpoint-up(lg) {
    bottom: -40%;
  }

  @include media-breakpoint-up(xl) {
    bottom: -60%;
  }
}

.slick-dots li button {  //убираем дефолтную в slick нумерацию в dots 
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;

    &:before {         // кастомизируем dots в slick
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      transition: background-color .3s;
      opacity: .5;
      border-radius: 50%;
      width: $indent_xs;
      height: $indent_xs;
    }
}

//---------------------------------------

.inform-block {

  text-align: center;
  padding: $indent_sm /2 0;

  .inform-block-item {

    display: block;
    height: 100%;
    width: 100%;
    padding-bottom: $indent_sm / 3;

    &:hover {

      .icon-holder span, 
      .title-holder h3 {
        color: $header-hover-color;
        transition: color 0.5s ease;
      }
      
      .text-holder {
        color: $base-text-color;
      }

      .decoration:after {
        border-bottom:  3px solid $decoration-line-hover;
        transition: all 0.5s ease;
      }
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: $indent_sm;

    @include media-breakpoint-up(sm) {
      font-size: $indent_sm * 1.5;
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}


.join-us-block {

  background-color: $bg-ivory-color;
  padding-top: $indent_sm;

  footer {
    padding: $indent_sm 0;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding-top: $indent_md;
      text-align: left;
    }
  }

  @include media-breakpoint-up(sm) {
    padding-top: $indent_lg;
  }
}

//-------- carousel materialize

.carousel {

  position: relative;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  perspective: 400px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  
  .carousel-item {
    visibility: hidden;
    width: 310px; 
    height: 200px;
    position: absolute;
    top: 0%;
    left: 0%;
    
    & >* {
      width: 100%;
      height: 180px;
    }

    @include media-breakpoint-up(sm) {
      width: 600px; 
      height: 375px;
      top: 13px;
      left: 0;

        & >* {
          width: 100%;
          height: 375px;
        }
    }
  }

  @include media-breakpoint-up(sm) {
    width: 100%;
    height: 400px;
    perspective: 500px;
  }
}


//-------------------------

                            //  PORTFOLIO BLOCK
//-----------------

.filter {
  margin-bottom: $indent_sm;

  @include media-breakpoint-up(sm) {
    margin-bottom: $indent_md;
  }

  button {
    margin: $indent_xs/2;

    @include media-breakpoint-up(sm) {
      margin: 0 $indent_xs;
    }
  }
}

//-- filter portfolio

.filter-boxes {
  flex-wrap: wrap;
  padding-bottom: $indent_sm;

  @include media-breakpoint-up(sm) {
    padding-bottom: $indent_lg/2;
  }
}

.is-animated {
  animation: .6s zoom-in;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  } 
  100% {
    transform: none;
  }
}

.filter-box {
  background-color: $bg-card-color;
  margin-bottom: $indent_sm/2;
  position: relative;;

  @include media-breakpoint-up(sm) {
    margin-bottom: $indent_sm;
  }

  .box-header {
   
    color: $card-header-color;
    margin-bottom: $indent_xs;

    @include media-breakpoint-up(sm) {
      margin-bottom: $indent_sm/2;
    }
  }

  .box-text {
   
    color: $card-text-color;
  }

  &:hover {

    background-color: $bg-card-hover-color;
    transition: background-color 0.5s ease;
    
    .box-links {
      visibility: visible;
      opacity: 1;
      transition: all 0.5s ease;
     
    }

    .box-header {
      color: $white;
      transition: color 0.5s ease;
    }

    .box-content:before {
      border-bottom: $indent_sm/2 solid $bg-card-hover-color;
      transition: border-bottom 0.5s ease;
    }

    .box-text {
      color: $card-text-hover-color;
      transition: color 0.5s ease;
    }
  }
}

.image-card-holder {
  position: relative;
  width: 100%;
  height: 240px;
}

.box-links {

  visibility: hidden;
  opacity: 0;
 
   .link-holder {
    position: absolute;
    z-index: 4;
  }
}

.box-link-item  {

  padding: $indent_xs;
  
  display: inline-block;
  width: auto;
  cursor: pointer;
   
  [class^="icon-"], [class*=" icon-"] {
    font-size: $indent_xs*2;
    color: $card-header-color;

    &:hover {
      color: $card-header-hover-color;
      transition: color 0.3s ease;
    }
  }

  
}


.box-content {
  padding: $indent_sm/2;
  position: relative;

  @include media-breakpoint-up(sm) {
    padding: $indent_sm;
  }

  &:before {
    content: '';
    position: absolute;
    border: $indent_sm solid transparent;
    border-bottom: $indent_sm/2 solid $bg-card-color;
    top: -30%;
    left: 5%;
    z-index: 4;
  }
}

.filter-row-two {
  display: none;
}

.row-is-visible {
  display: flex;
}

//-------------

                 // MEDIA BLOCK

//-------------------------
/* Style the video: 100% width and height to cover the entire window */

.media-block {
  position: relative;
  height: auto;
  min-height: 420px;

  @include media-breakpoint-up(sm) {
    min-height: auto;
  }

  #myVideo {
    width: 100vw;
  }

  .media-content {
    position: absolute;
    color: $white;
    z-index: 4;
    bottom: 0;

    @include media-breakpoint-up(sm) {
      position: absolute;
      text-align: center;
    }

    .video-btn {
      background-color: rgba(0, 0, 0, .3);
      border-color: transparent;
      border-radius: 50%;
      padding: $indent_xs*2;
      margin-bottom: $indent_sm;
      height: $indent_md;
      width: $indent_md;
      position: relative;

      @include media-breakpoint-up(sm) {
        padding-bottom: $indent_lg/2;
        min-height: 100px;
        min-width: 100px;
      }
    }
  }
}

/* Add some content at the bottom of the video/page */


/* Style the button used to pause/play the video */
// #myBtn {
//   //width: 200px;
//   //font-size: 18px;
//    
//    background-color: transparent;
//   //background-color: rgba(0, 0, 0, .5);
//   transition: background-color .3s;

//   color: red;
//   cursor: pointer;

//   &:hover {
//    // background: #ddd;
//     //color: black;
//   }

// }


                // mobile-advantages-block

.mobile-advantages-block {
  padding-top: $indent_sm;





  @include media-breakpoint-up(sm) {
    padding-top: $indent_lg;
  }
}




           //         PROGRESS BLOCK

.progress-block {
  background-image: url(../../img/bg-gradient-footer.png);
  padding: $indent_sm 0;

  p:nth-child(2) {
    color: $white;
  }

  p:nth-child(3) {
    color: $olive-yellow;
  }

  @include media-breakpoint-up(sm) {
    padding: $indent_lg 0;
  }
}

.progress-item {

  padding-bottom: $indent_sm;
    
  p.decoration {
    margin-top: $indent_sm/2;

    @include media-breakpoint-up(sm) {
      margin-top: $indent_sm;
    }
  }

  @include media-breakpoint-up(sm) {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(xl) {
    min-height: 250px;
  }
}

//------------------------------- partners  block

.partners-block {

  background-image: url(../../img/bg_our_partners.png);
  position: relative;
  min-height: 300px;
 
  .partner-item {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: $indent-xs 0;

      @include media-breakpoint-up(md) {
         padding: 0;
      }
  }

  .partners-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }

  @include media-breakpoint-up(lg) {
    min-height: 500px;

  }


}

//----------------------------------------------posts block

.recent-posts-block {
  padding: $indent_lg 0 ($indent_lg + $indent_md);
}

.post-item {

  .image-post-holder {
    position: relative;
    width: 100%;
    height: 240px;

    .darken-filter {
      opacity: 0;
      visibility: hidden;
    }
  }

  .post-content {
    padding: $indent_sm;
    text-align: left;
    border: 1px solid rgba($post-border-item, .15);
  }

    &:hover {

          
      .darken-filter {
        opacity: 1;
        visibility: visible;
        transition: opacity .75s ease;
      }

      .post-content {
        background-color: $bg-card-hover-color;
        transition: background-color 0.5s ease;
      }

      .title-holder>* {
        color: $header-hover-color;
        transition: color 0.5s ease;
      }

      .text-holder {
        color: $white;
        transition: color 0.5s ease;
      }

      .data-day-holder {
        background-color: $bg-data-day-hover;
        transition: background-color 0.5s ease;
      }

      .data-month-holder {
        background-color: $bg-data-month-hover;
        transition: background-color 0.5s ease;
      }



    }
  }

.data-box {
  width: $indent_md;
  color: $white;
  position: absolute;
  top: $indent_xs*2;
  left: $indent_xs*2;
  border-radius: 10px;
  z-index: 4;
}

.data-day-holder {

  background-color: $bg-data-day-holder;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 $indent_xs;

  &>* {
    font-size: $font-size-data-day;
  }
}

.data-month-holder {

  background-color: $bg-data-month-holder;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  &>* {
    font-size: $font-size-data-month;
  }
}



.responsive.slick-slider {

   position: relative;

  [class^="icon-"], [class*=" icon-"] {
    visibility: hidden;
    opacity: 0;
  }

  .slick-dots {
    
    bottom: -5%;
    background-color: $sand-yellow;
    border-radius: 10px;
    width: 80%;

    @include media-breakpoint-up(xl) {
      visibility: hidden;
    }
    
  }


  @include media-breakpoint-up(xl) {

   
    [class^="icon-"], [class*=" icon-"] {
      visibility: visible;
      opacity: 1;
      font-size: $indent_xs*2;
      color: rgba($post-border-item, .25);
      position: absolute;
      bottom: -12%;
      cursor: pointer;

      &:hover {
        color: $default-link-hover-color;
      }
    }

    span.icon-circle-left {
      left: 48%;
    }

    span.icon-circle-right {
      right: 48%;
    }
  }
}
  

// span.fa-angle-left.carousel-post-prev {

//   @include media-breakpoint-up(xl) {
//     left: -50%;
//     transform: translateX(50%);
//   }
// }

// span.fa-angle-right.carousel-post-next {
  
//   @include media-breakpoint-up(xl) { 
//     right: -50%;
//     transform: translateX(-50%);
//   }
// }


// .arrows-holder {
//   [class^="icon-"], [class*=" icon-"] {
//     font-size: $indent_xs*2;
//     color: rgba($post-border-item, .35);
//     position: absolute;
//   }
// }

  // [class*=" icon-circle-left"] {
   
  //   font-size: $indent_xs*2;
  //   color: rgba($post-border-item, .35);
  // }

  // [class*=" icon-circle-right"] {
    
  //   font-size: $indent_xs*2;
  //   color: rgba($post-border-item, .35);
  // }



//---------------------------------- additional-info-block

.additional-info-block {
  background-color: $bg-aside-color;
  color: $aside-text-color;

  .aside-item {
    padding-bottom: $indent_xs;

    &:hover {
      cursor: pointer;
      

      .data-font-size {
        color: $white;
        transition: color 0.5s ease;
      }

      .small-font-text {
        color: $default-link-hover-color;
        transition: color 0.5s ease;
      }
    }
  }

  .logo-holder {
    padding-bottom: $indent_sm;
  }

  .title-holder>* {
    color: $white;
  }

  .dribbble-widget {
    flex-wrap: wrap;
    
    .widget-holder {
      height: 100px;
      width: 132px;
      padding-bottom: $indent_xs;
    }
  }
}

