.footer {
	background-color: $soft-dark-gray;
	padding: 60px 0 40px;

	@media (min-width: 768px) {
		margin-top: $indent_sm;
	}
	
	@media screen  and (min-width: 1200px) {
		margin-top: $indent_lg;
	}
}

.copyright {
	padding-left: 15px;

	p {
		margin: 0;
	}
}

.socials {
	display: flex;
	vertical-align: top;
	margin-top: 15px;
	margin-right: -15px;
	margin-left: -15px;
	justify-content: center;
	padding-left: 0;

	@media (min-width: 768px) and (orientation: landscape) {
		margin-top: 0;
		justify-content: flex-end;			
	}
	
	li {
		display: inline-block;
		
		padding: 0 7px;

		@media (min-width: 768px) and (orientation: landscape) {
			padding: 0 15px;   			
		}
	}

	a {
		text-decoration: none;
		color: $white;
		
		&:hover {
			color: $red;
		}
	}

	i {
		font-size: 40px;
	}
}

.footer-block {

	@media screen  and (min-width: 768px) {
		align-items: center; 
		display: flex;
	}
}
