header {
	 	font-family: $timesnewroman-font-family;
	 	font-size: $base-font-size;

 		#logo a {
				text-align: center;
				display: block;
				margin: 50px 0 20px 0;
				}  

		.center nav {
				text-align: center;  
				display: block;

					a {
						color: $primary-text-color;
						margin: 0 50px;
						text-decoration: none;		
						}

					a:hover {
						color: $navigate-link-color;
							}
					} 
 		}
              
   
    	

       
     




    
 



  

  
 






