/*ДЛЯ СЕБЯ: отсутпы между смысловыми разделами
  телефон  30px
  планшет 40px
  монитор (согласно макету)

  между второстепенными разделами
  телефон 20px
  планшет 25px;
  монитор (согласно макету)

*/
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	
}

.container {
	max-width: 1280px;
	padding: 0 #{$grid-gutter-width / 2};
	margin: 0 auto;   
}


.row {

	@media (min-width: 768px) {
	  display: flex;
	  flex-wrap: wrap;
	  margin: 0 -#{$grid-gutter-width / 2};
	}
}

.col {
  padding: 0 #{$grid-gutter-width / 2};
  flex-grow: 0;
  flex-shrink: 0;
}

a {
	color: $base-text-color;

}

@for $i from 1 through $grid-count {
	.col-#{$i} {
		width: 100% / $grid-count * $i;
	}
}


@each $item, $breakpoint in $breakpoints {
	@media all and (min-width: $breakpoint) {
		@for $i from 1 through $grid-count {
			.col-#{$item}-#{$i} {
				width: 100% / $grid-count * $i;
			}
		}
	}
}

.vertical-offset {
  padding-top: 15px;
  padding-bottom: 15px;
}


h1 {
	font-size: $font-size-h1 * 0.5;
	text-transform: uppercase;
	line-height: 1.2;
	
	@media (min-width: 768px) {
		font-size: $font-size-h1 * 0.75;
	}

	@media screen  and (min-width: 1200px) {
		font-size: $font-size-h1;
	}

}

h2 {
	font-size: $font-size-h2 * 0.5;
	text-transform: uppercase;

	@media (min-width: 768px) {
		font-size: $font-size-h2 * 0.75;
	}

	@media screen  and (min-width: 1200px) {
		font-size: $font-size-h2;
	}
}

h3 {
	font-size: $font-size-h3 * 0.75;

	@media (min-width: 768px) {
		font-size: $font-size-h3 * 0.85;
	}

	@media screen  and (min-width: 1200px) {
		font-size: $font-size-h3;
	}

}

.bold {
	font-weight: bold;
}

.btn {
	display: inline-block;
	vertical-align: top;
}

.border-radius {
	border-radius: 5px;
}

.bordered {
	border: 2px solid $red;
}


.link-button {
	//display: inline-block;    
	//border: 2px solid $red;
	//border-radius: 5px;
	 text-align: center;      
	//text-align: center;
	padding: 10px 15px;
	//padding: 10px 15px;
	margin: 15px 0;
	

	@media (min-width: 768px) {
		margin: 30px 0; 
	}

	a {
		color: $link-button-color;
		font-size: $font-size-button;
	}

	&:hover {
		background-color: $red;

		a { 
		color: $link-button-hover-color;   
		}
	} 

	
} 




.header-holder {
	position: relative;
	background-color: $pink-gray;

	
		/*@media (min-width: 768px) and (orientation: landscape) {      
			padding-bottom: $indent_sm;       
		}    

		@media screen  and (min-width: 1200px) {  
			margin: 30px auto 110px;       
			max-width: 1280px; 
		} 

		@media screen  and (min-width: 1200px) {
		padding-bottom: $indent_lg; 
		} */
	}  



.header {
	background: black;
	//padding: 0;
	
	    

	/*@media (min-width: 768px) and (orientation: landscape) {
		padding: 0;
		margin-bottom: 40px;  
	}

	@media (min-width: 768px) and (orientation: portrait) {
		width: 100%;
		margin-bottom: 25px;    
	}   */

	
} 

nav {
	display: inline-block;
	vertical-align: top;
	
	@media (min-width: 768px)  {
		display: block;
		overflow: hidden;
	}

	&:hover {
		.nav {
			transform: translateX(0);
		}
	}
}

.nav-opener {
	display: inline-block;
	vertical-align: top;     
	width: 50px;
	height: 50px;
	position: relative; 
	border: 2px solid white;
	border-radius: 4px;

	&:before,
	&:after,
	span {
		height: 4px;
		width: 30px;
		position: absolute;
		left: 8px;
		background: white;
		border-radius: 2px;
	}

	&:before,
	&:after {
		content: '';
		transition: .3s transform;
	}

	&:before {
		top: 10px;
	}

	&:after {
		top: 34px;
	}

	span {
		top: 22px;
		transition: .3s opacity;
	}

	&:hover {
		span {
			opacity: 0;
		}

		&:before {
			transform: rotate(45deg) translate(8px, 8px);
		}

		&:after {
			transform: rotate(-45deg) translate(8px, -8px);
		}

		@media (min-width: 768px) {
			
			+ .nav {
				max-height: 50vh;
			}
		}
	}

	@media (min-width: 768px) and (orientation: landscape) {
		display: none;
	}
}

.nav {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	background: black;
	transform: translateX(-100%);
	transition: .3s transform;
	list-style: none;
	padding: 0 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: $font-size-nav-main;
	
	@media (min-width: 768px) {
		position: static;
		transform: none;
		max-height: 0;
		transition: .3s max-height;
	}

	@media (min-width: 768px) and (orientation: landscape) {
		display: flex;
		justify-content: center;
		max-height: none;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 30px;
		color: white;
		border-bottom: 2px solid white;
		transition: .3s background-color;
		height: 90px; 
		line-height: 40px;   

		@media (min-width: 768px) and (orientation: landscape) {
			border-bottom: 0;
		}

		&.active,
		&:hover {
			background: red;
		}
	}

	li {
		 
		&:last-child {
			a {
				border-bottom: none;
			}
		}
	}
}

 
.title-holder {

	margin-bottom: $indent_sm / 2;

	@media (min-width: 768px) and (orientation: landscape) {
		margin-bottom: $indent_sm;   			
	}

	@media (min-width: 768px) and (orientation: portrait) {
		margin-bottom: $indent_sm;   			
	}
}

.text-holder {

	margin-bottom: $indent_sm / 2;

	@media (min-width: 768px) and (orientation: landscape) {
		margin-bottom: $indent_sm;   			
	}

	@media (min-width: 768px) and (orientation: portrait) {
		margin-bottom: $indent_sm;   			
	}
}



/*h1 {
	 
	font-size: 30px;
	line-height: 1.2;
	text-transform: uppercase;

	@media (min-width: 768px) and (orientation: landscape) {
		font-size: 40px;
	}

	@media (min-width: 768px) and (orientation: portrait) {
		font-size: 40px;
		
	}

	@media screen  and (min-width: 1200px) {
		font-size: 60px;
		margin-bottom: 40px;
	}
}    
  

.header-media {
	   
	   margin-bottom: $margin_b_sm; 

	@media (min-width: 768px) and (orientation: landscape) {
			display: block;
			margin: 0 25px 40px 25px;    
	}  

	@media (min-width: 768px) and (orientation: portrait) { 
		display: block; 
		margin: 0 25px 40px 25px;      
	}

	@media screen  and (min-width: 1200px) {
				height: 565px;
				overflow: hidden;
				margin-bottom: 110px;
				display: flex;
				flex-direction: row;
				align-content: space-between;
				margin: 0;  
				height: 465px;
	} 
	
	.left {
		
		@media (min-width: 768px) and (orientation: landscape) {
			width: 100%;
			margin-bottom: 25px;  
		} 

		@media (min-width: 768px) and (orientation: portrait) {
			width: 100%;
			margin-bottom: 25px;   
		} 

		@media screen  and (min-width: 1200px) {
				width: 50%; 
		}	
		      

		.header-text-wrapper { 

			.title-holder {
					margin-bottom: 20px;

					@media (min-width: 768px) and (orientation: landscape) {
						margin-bottom: 25px;   			
					}

					@media (min-width: 768px) and (orientation: portrait) {
						margin-bottom: 25px;   			
					}
			}
				
			@media (min-width: 768px) and (orientation: landscape) {
			width: 100%;   			} 

			@media (min-width: 768px) and (orientation: portrait) {
			width: 100%;
			}

			@media screen  and (min-width: 1200px) { 
				margin-bottom: 40px;
				width: 520px;   
			}		 
		    
		}  
	}        

	.text-holder {
		 
		text-align: justify;  
		margin-bottom: 20px; 

		@media (min-width: 768px) and (orientation: landscape) {
			margin-bottom: 25px;   			
		} 

		@media (min-width: 768px) and (orientation: portrait) {
			margin-bottom: 25px;   
	    }

		@media screen  and (min-width: 1200px) {
			margin-bottom: 60px; 
		}
	}
  
	.right {
			
		@media (min-width: 768px) and (orientation: landscape) {
			width: 100%;
			margin-bottom: 25px;     
		} 

		@media (min-width: 768px) and (orientation: portrait) { 
			width: 100%;   
			margin: 0 auto 25px auto;   
	    }   

	    @media screen  and (min-width: 1200px) {
			width: 50%;   
		}
	} 
}  


 .video {
 	position: relative;
 	width: 100%;  
	height: 190px;  

 	@media (min-width: 768px) and (orientation: landscape) {
			width: 80%;
			height: 350px; 
			margin: 0 auto 25px auto; 
	}

	@media (min-width: 768px) and (orientation: portrait) { 
			height: 250px;     
	}

	@media screen  and (min-width: 1200px) {
			height: 388px;
			margin: 0 0 0 auto;
	}	  
  
		  
	  
 	img {
 		position: absolute;    
 		width: 100%; 
 		z-index: 1;

		@media (min-width: 320px) and (orientation: landscape) { 
			height: 190px;     
		}

 		@media (min-width: 768px) and (orientation: landscape) {
			height: 300px; 
		} 

		@media (min-width: 768px) and (orientation: portrait) { 
			max-height: 250px;      
		}

		@media screen  and (min-width: 1200px) {
			max-height: 388px;    
		}	 
	}

 	a img {
 		position: absolute;
 		height: 100px;
 		width: auto;         
 		top: 26%;
 		left: 34%; 
 		z-index: 2;   

 		@media (min-width: 320px) and (orientation: landscape) { 
			max-height: 190px;
			top: 23%;
			left: 40%;      
		}  
		
		@media (min-width: 768px) and (orientation: landscape) {
			max-height: 250px;
			top: 30%;
			left: 42%; 
		} 

		@media (min-width: 768px) and (orientation: portrait) { 
			max-height: 250px;
			top: 30%;
			left: 42%;      
		}

 		@media screen  and (min-width: 1200px) {
			height: 125px;
	 		top: 26%;
	 		left: 40%; 
	 		   
		}
 	} 
 }

 */