header {
	 	font-family: $timesnewroman-font-family;
	 	font-size: $base-font-size;
	 	padding-top: 50px;

 		#logo {
				text-align: center;
				margin-bottom: 20px;
				}  

				 nav {
				text-align: center;   /*ЗАПОМНИТЬ: nav во всех современных браузерах блочный по умолчанию, а для старых мы прописали это значение в ресете*/

					a {
						color: $primary-text-color;
						margin: 0 50px;
						text-decoration: none;		
						}

					a:hover {
						color: $navigate-link-color;
							}
					} 
 		}
              
   
    	

       
     




    
 



  

  
 






