#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
			}

.container {
	max-width: 1150px;
	padding: 0;
	margin: 0 auto;
				}

body {
  font-family: $base-font-family;
  background-color: $background-color;
  color: $primary-text-color;
  font-size: $base-font-size;
  line-height: 25px;
}    
    

.image {
		 margin: 30px 0;
			img {
				width: 100%;    /*ЗАПОМНИТЬ: отступы лучше дать на .image - на родителя, а ширину изображения лучше дать 100%*/
			}
		}

.textareawidth {
			width: 920px;
	
				ul, ol {
					padding-left: 15px;
						}

				a {
					color: $primary-text-color;
					}   

				a:hover {
					color: $navigate-link-color;
					}
   
				textarea {
					width: 920px;
							}


		        }

.grey {
	color: $grey-text-color;
}

.italic {
	font-style: $italic-font-style;
}

.bold { 
	font-weight: $bold-font-weight;
} 

blockquote {
	text-align: center;
	}

.arial {
	font-family: $arial-font-family;
}
        
h1 {
	font-family: $timesnewroman-font-family;
}         
   
     
         