body {
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 1.75;
  min-width: 320px;
  color: $base-text-color;
  }


ul {

	list-style: none;
	text-transform: uppercase;
	margin: 0 auto;

	li {
		display: inline;
	}
}

.font-size-another {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.text-another {
	font-size: 18px;
	text-transform: uppercase;
}

.inline-block-align {
	@extend %inline-block_vertical-align;
}

.common-section {

	padding: $indent_sm/2 0;

	@media (min-width: 768px) {
		padding: $indent_sm 0;
	}

	@media screen  and (min-width: 1200px) {
		padding: $indent_lg 0;
	}
}

.block-inverse {
	color: $white;
}

.bg-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $bg_img_color;	
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.center {
	display: flex;
   align-items: center;
    justify-content: center ;

}

.box-shadow {
	-webkit-box-shadow: -8px -7px 33px 11px rgba(0,0,0,0.29); 
	box-shadow: -8px -7px 33px 11px rgba(0,0,0,0.29);
}

.decoration {
	position: relative;
	padding-bottom: 30px;

	@media (min-width: 768px) {
//////////////////////////////////////////////////
	}  


	&:after {
		content: "";
		border-bottom:  3px solid $red;
		position: absolute;
		width: 100px;
		transform: translateX(-50%);
		bottom: 0;

	}
}

.decoration-left {
	&:after {
		left: 0;
		top: 100%;
		transform: translateY(-20%);
	}

	@media (min-width: 768px) {
		transform: translateY(-60%);
	}
}







 
 

