body {
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 1.75;
  min-width: 320px;
  color: $base-text-color;
}

#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

h2 {
	font-size: 42px;
	line-height: 1.2;
	
}

h3 {
	font-size: 24px;
}




.title-holder {
	text-transform: uppercase;
	margin-bottom: 30px;   
 } 


.link-button {
	display: inline-block;    
	border: 2px solid $red;
	padding: 20px 60px;
	border-radius: 5px; 

	
	
	a {
		text-decoration: none;
		color: $link-button-color;
		font-weight: bold;
			
	}

	&:hover {
		background-color: $red; 

		a {
		color: $link-button-hover-color;   
	      }
	}
}    

.icon-img-holder {

		width: 50px;

	i {
		font-size: 40px;
		width: 40px;
	}
}  

   
.about-us {
	margin: 40px 0;

	p, .link-button, .icon-img-holder {
		margin-bottom: 25px;
	}
}    

.visible {
	overflow: hidden;
	}

.icon-img-holder, .title-holder {
		float: left;

		.icon-img-holder {
			width: 20%;
		}

		.title-holder {
			width: 80%;
		}
}

.common-section {
	position: relative;
}

.text-holder {
    max-height: 0;
    transition: 0.8s;   
    overflow: hidden;
}

.common-section:hover .text-holder {
	display: block;
	height: auto;
	max-height: 120px;
	margin: 0;
		}