@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9936wi');
  src:  url('fonts/icomoon.eot?9936wi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9936wi') format('truetype'),
    url('fonts/icomoon.woff?9936wi') format('woff'),
    url('fonts/icomoon.svg?9936wi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin-with-circle:before {
  content: "\e90a";
}
.icon-facebook-with-circle:before {
  content: "\e900";
}
.icon-twitter-with-circle:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e902";
}
.icon-peng:before {
  content: "\e903";
}
.icon-truck:before {
  content: "\e904";
}
.icon-diamond:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-google-with-circle:before {
  content: "\ea8d";
}
