$base-font-family: 'Open Sans', sans-serif;

$black: #000;
$red: #ea1313;
$white: #fff;

$gray: #626262;
$pink-gray: #f6f2f2;
$dark-gray: #2d2d2d;
$soft-dark-gray: #313030;
$light-gray: #e5e5e5;


$base-text-color: $black;
$link-color: $black;
$link-hover-color: $red;
$button-color: $red;
$button-hover-color: $white;
$contact-form-input-bg: $light-gray;
$bg_img_color: $pink-gray;

$grid-gutter-width: 30px;
$grid-count: 12;

$breakpoints: (
	sm: 768px,
	md: 1024px,
	lg: 1200px
);

$font-size-h1: 60px;
$font-size-h2: 42px;
$font-size-h3: 24px;
$font-size-button: 18.14px;
$font-size-nav-main: 14px;
$font-size-nav-secondary: 22px;


$indent_md:	60px;
$indent_sm: 30px;
$indent_lg: 110px;

%decorated_line {
	content: '';
	position: absolute;
	border-bottom: 2px solid $red;
	transform: translateX(-50%);
}

%inline-block_vertical-align {
	display: inline-block;
	vertical-align: top;
}


      