$base-font-family: 'Georgia', sans-serif;
$timesnewroman-font-family: 'TimesNewRomanPSMT', sans-serif;
$arial-font-family: 'ArialMT', sans-serif;
$base-font-size: 14px;
$italic-font-style: italic;
$bold-font-weight: bold;


$primary-text-color: #626262;
$grey-text-color: #b4ad9e;
$navigate-link-color: #ea1313;
$black-text-color: #000000;
$background-color: #ffffff;
$footer-color: #f0f0f0;

    


  